# Rust
debug
target
**/*.rs.bk

# Editor related
.vs/
.idea/
.vscode/
*.session
.windsurf/
*.sublime-workspace
!.vscode/{extensions,tasks}.json

# Git related
*.patch

# Other
*.log
*.tmp
*.temp
.DS_Store
[Dd]esktop.ini
