#editor.ace_editor.ace-tomorrow-night { color: #f8f8f2; background: var(--panel); }
.ace-tomorrow-night .ace_cursor { color: #50fa7b; }
.ace-tomorrow-night .ace_selection { background: rgba(189, 147, 249, 0.25); }
.ace-tomorrow-night .ace_comment { color: #6272a4; font-style: italic; }
.ace-tomorrow-night .ace_keyword { color: #ff79c6; }
.ace-tomorrow-night .ace_string  { color: #f1fa8c; }
.ace-tomorrow-night .ace_numeric,
.ace-tomorrow-night .ace_constant.ace_numeric { color: #bd93f9; }
.ace-tomorrow-night .ace_constant,
.ace-tomorrow-night .ace_constant.ace_language { color: #ff5555; }
.ace-tomorrow-night .ace_support.ace_function,
.ace-tomorrow-night .ace_entity.ace_name.ace_function { color: #8be9fd; }
.ace-tomorrow-night .ace_variable,
.ace-tomorrow-night .ace_operator,
.ace-tomorrow-night .ace_paren,
.ace-tomorrow-night .ace_punctuation { color: #f8f8f2; }