#editor.ace_editor.ace-tomorrow-night { color: #ebdbb2; background: var(--panel); }
.ace-tomorrow-night .ace_cursor { color: #fabd2f; }
.ace-tomorrow-night .ace_selection { background: rgba(235, 219, 178, 0.20); }
.ace-tomorrow-night .ace_comment { color: #928374; font-style: italic; }
.ace-tomorrow-night .ace_keyword { color: #fe8019; }
.ace-tomorrow-night .ace_string  { color: #b8bb26; }
.ace-tomorrow-night .ace_numeric,
.ace-tomorrow-night .ace_constant.ace_numeric { color: #d3869b; }
.ace-tomorrow-night .ace_constant,
.ace-tomorrow-night .ace_constant.ace_language { color: #fb4934; }
.ace-tomorrow-night .ace_support.ace_function,
.ace-tomorrow-night .ace_entity.ace_name.ace_function { color: #83a598; }
.ace-tomorrow-night .ace_variable,
.ace-tomorrow-night .ace_operator,
.ace-tomorrow-night .ace_paren,
.ace-tomorrow-night .ace_punctuation { color: #ebdbb2; }