#editor.ace_editor.ace-tomorrow-night { color: #586e75; background: var(--panel); }
.ace-tomorrow-night .ace_cursor { color: #073642; }
.ace-tomorrow-night .ace_selection { background: rgba(38, 139, 210, 0.20); }
.ace-tomorrow-night .ace_comment { color: #93a1a1; font-style: italic; }
.ace-tomorrow-night .ace_keyword { color: #859900; }
.ace-tomorrow-night .ace_string  { color: #2aa198; }
.ace-tomorrow-night .ace_numeric,
.ace-tomorrow-night .ace_constant.ace_numeric { color: #b58900; }
.ace-tomorrow-night .ace_constant,
.ace-tomorrow-night .ace_constant.ace_language { color: #dc322f; }
.ace-tomorrow-night .ace_support.ace_function,
.ace-tomorrow-night .ace_entity.ace_name.ace_function { color: #268bd2; }
.ace-tomorrow-night .ace_variable,
.ace-tomorrow-night .ace_operator,
.ace-tomorrow-night .ace_paren,
.ace-tomorrow-night .ace_punctuation { color: #073642; }