#editor.ace_editor.ace-tomorrow-night { color: #c0caf5; background: var(--panel); }
.ace-tomorrow-night .ace_cursor { color: #7aa2f7; }
.ace-tomorrow-night .ace_selection { background: rgba(122, 162, 247, 0.20); }
.ace-tomorrow-night .ace_comment { color: #565f89; font-style: italic; }
.ace-tomorrow-night .ace_keyword { color: #bb9af7; }
.ace-tomorrow-night .ace_string  { color: #9ece6a; }
.ace-tomorrow-night .ace_numeric,
.ace-tomorrow-night .ace_constant.ace_numeric { color: #7dcfff; }
.ace-tomorrow-night .ace_constant,
.ace-tomorrow-night .ace_constant.ace_language { color: #f7768e; }
.ace-tomorrow-night .ace_support.ace_function,
.ace-tomorrow-night .ace_entity.ace_name.ace_function { color: #7dcfff; }
.ace-tomorrow-night .ace_variable,
.ace-tomorrow-night .ace_operator,
.ace-tomorrow-night .ace_paren,
.ace-tomorrow-night .ace_punctuation { color: #c0caf5; }